body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
}

input {
  border: 1px solid #cecece;
  line-height: 40px;
  padding-left: 10px;
}
.game-title {
  margin-bottom: 20px;
}

.panel  {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
}

.panel-info {
  margin-bottom: 15px;
}

.panel-action {
  margin-top: 15px;
}

.mark {
  font-size: 1.5em;
}